@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

body{
    font-family: 'Dosis', sans-serif;
    background-color: #181E28;
    margin:250px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffffff;
}

h2{
    font-size: 70px;
}

.profile, .new-profile{
    display: inline-block;
    margin:20px;

}

.profile-image, .new-profile .profile-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
    transition: transform 3s ease-in-out;

    
}

.profile-name, .new-profile .profile-name{
    margin-top: 10px;
    font-weight: 550;
    font-size: 25px;

    transition: transform 3s ease-in-out;

}